# This is a CODEOWNERS file
# It specifies the code owners for different parts of the repository.

# Backend code owners
/aait/backend/group-1A/ @yonass08
/aait/backend/group-1B/ @sossyh @birehan
/aait/backend/group-2A/ @abrahamshimekt @bahailu-abera
/aait/backend/group-2B/ @bahailu-abera @abrahamshimekt @ffekirnew

/aastu/backend/group-1/ @ElsaiDeribu
/aastu/backend/group-2/ @AbenezerAberaa
/aastu/backend/group-3/ @YabTek
/aastu/backend/group-4/ @suarfel @tedblackson

/aait/mobile/group-1/ @shamil-b @hayattofik-01
/aait/mobile/group-2/ @meraf00 @Beki4382
/aait/mobile/group-3/ @SimonMekonnen @HiwotDerese @primequantuM4

/aastu/mobile/group-1/ @Zalbo-GJ @minasedr
/aastu/mobile/group-2/ @AbuhaithemAlthry @minasedr
/aastu/mobile/group-3/ @EyasuTesfu @minasedr

/aait/web/group-1/ @jebessaD @TsehaynehGetaneh @ekramkedir2020
/aait/web/group-2/ @Aklile-Yilma @zelalemyetsedaw @FevenBelay23
/aait/web/group-3/ @BrookW-83 @Segnicho @kidus101
/aait/web/group-4/ @Mekdeskebede @zerabruck @Rediet-Ferew

/aastu/web/group-1/ @amanz55
/aastu/web/group-2/ @wubeZ
