@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Neucha&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Neucha&family=Nunito&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&family=Neucha&family=Nunito&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: 'Poppins';
}

.font-montserrat {
  font-family: 'Montserrat';
}

.font-canon {
  font-family: 'IM Fell French Canon';
}


.btn-blue {
  @apply bg-blue-first rounded-lg border text-white
}
.btn-blue-outline {
  @apply bg-transparent rounded-lg border border-primary-color text-primary-color
}

.btn {
  @apply py-2 px-4 rounded-lg font-semibold text-sm transition-all hover:scale-105 duration-500
}

.btn-light {
  @apply py-2 px-6 rounded-full text-xs transition-all hover:scale-105 duration-500
}

.blog-tag {
  @apply  text-sm px-6 py-2 rounded-full
}

.page {
  @apply w-8 h-8 flex justify-center items-center hover:cursor-pointer rounded-lg
}
